#show h1 {
  color: rgba(0, 128, 0, 0.651);
  font-size: 25px;
}
#show h0 {
  color: rgba(153, 205, 50, 0.514);
  font-size: 18px;
}
#show #a {
  color: rgba(128, 0, 128, 0.527);
  font-size: 60px;
}
#show #b {
  color: rgba(165, 42, 42, 0.534);
  font-size: 18px;
}

#index h1 {
  color: #0e0ee9;
  font-size: 25px;
}
#index h0 {
  color: red;
  font-size: 18px;
}
#index h13 {
  color: rgba(0, 128, 0, 0.383);
  font-size: 60px;
}
#index h5 {
  color: #d427eb;
  font-size: 24px;
}
#index h7 {
  color: #eb2737;
  font-size: 20px;
}
#index h6 {
  color: rgba(127, 255, 212, 0.685);
  font-size: 30px;
}
#index #a {
  color: rgba(255, 68, 0, 0.911);
  font-size: 60px;
}
#index #b {
  color: pink;
  font-size: 18px;
}
