@import "./show.scss";
//@import "./back_ground.css";

body{
    font-family: 'Dancing Script', cursive;
}

#index{
    h1{color:rgb(14, 14, 233); font-size: 25px;}
    h0{color:red; font-size: 18px;}
    h13{color:rgba(0, 128, 0, 0.383); font-size: 60px;}
    h5{color:rgb(235, 127, 39); font-size: 72px;}
    h7{color:rgb(235, 39, 55); font-size: 20px;}
    h6{color:rgba(127, 255, 212, 0.685); font-size: 30px;}
    #a{
        color: rgba(255, 68, 0, 0.911);
        font-size: 60px;
    }

    #b{
        color: rgba(250, 4, 4, 0.486);
        font-size: 72px;
    }
}