h1{color:rgb(14, 14, 233); font-size: 25px;}
h0{color:red; font-size: 18px;}

#b{
    color: rgb(1, 230, 1);
    font-size: 18px;
}

table { border-collapse: collapse;}
tr { border: 3px solid rgba(238, 12, 12, 0.829); }
td { border: 2px solid black; }
