#show{
    h1{color:rgba(0, 128, 0, 0.651); font-size: 25px;}
    h0{color:rgba(153, 205, 50, 0.514); font-size: 18px;}

    #a{
        color: rgba(128, 0, 128, 0.527);
        font-size: 60px;
    }

    #b{
        color: rgba(165, 42, 42, 0.534);
        font-size: 18px;
    }
}